*{
    box-sizing: border-box;
    padding: 10;
    margin: 20;
    color:#ffffff;
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
} 
span{
    display: inline-block;
}
#grey{
    border: #dbdbdb solid 2px;
    background-color: grey;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;;
    cursor: pointer;

}
#red{
    border: #dbdbdb solid 2px;
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;

}
#blue{
    border: #dbdbdb solid 2px;
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;

}
#green{
    border: #dbdbdb solid 2px;
    background-color: green;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;

}
#output{
    margin-top: 20px;
    font-size: 25px;
}