*{
    background-color: #212121
}
body{
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    color: aliceblue;
}

#Box{
    font-size: 25px ;
    background-color: bisque;
    height:70px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
